
  <div class="container">
    <form action="">
      <div class="mt-5 col-6 mx-auto">
        <input type="text" class="form-control" placeholder="Input URL here">
      </div>

      <div class="d-grid col-2 mx-auto mt-4">
        <button class="btn btn-primary" type="button">Shorten</button>
      </div>
    </form>
  </div>