{{#if shortCode}}
  <div class="container text-center d-flex flex-column ">
    <h2 class="mt-5">Success! Please use this link :</h2>
    <div class="d-flex justify-content-center mt-3">
      <h4 class="text-bg-success p-3 rounded col-6" id="newURL"> {{origin}}/{{shortCode}} </h4>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-outline-success p-3" onclick="copyURL()">copy this link</button>
    </div>
  </div>

  <script>
    function copyURL() {
      const newURL = document.getElementById("newURL")
      navigator.clipboard.writeText(newURL.innerText)
        .then(() => alert('已複製此連結'))
        .catch(error => console.log(error))
    }
  </script>

{{else}}
  <div class="container">
    <form action="/" method="POST">
      <div class="mt-5 col-6 mx-auto">
        <input name="userURL" type="url" class="form-control" placeholder="Input URL here" required/>
      </div>

      <div class="d-grid col-2 mx-auto mt-4">
        <button class="btn btn-primary" type="submit">Shorten</button>
      </div>
    </form>
  </div>
{{/if}}